<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mega tel admins</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="style4.css" />
  </head>

  <body>
    <!-- =============== Navigation ================ -->
    <div class="container">
      <div class="navigation">
        <ul>
          <li>
            <div class="brand">
              <img
                src="logo noir.png"
                alt="megatel logo"
                width="40px"
                height="40px"
              />
              <span class="title"><div class="titre">MegaTel</div></span>
            </div>
          </li>

          <li>
            <a href="adminn">
              <span class="icon">
                <ion-icon name="clipboard-outline"></ion-icon>
              </span>
              <span class="title">Dashboard</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Home Page</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="ribbon-outline"></ion-icon>
              </span>
              <span class="title">WorkSpace</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="people-circle-outline"></ion-icon>
              </span>
              <span class="title">Accounts</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="log-out-outline"></ion-icon>
              </span>
              <span class="title">Sign Out</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- ========================= Main ==================== -->
      <div class="main">
        <div class="topbar">
          <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
          </div>

          <div class="search">
            <label>
              <input type="text" placeholder="Search here" />
              <ion-icon name="search-outline"></ion-icon>
            </label>
          </div>

          <div class="user">
            <img src="assets/imgs/customer01.jpg" alt="" />
          </div>
        </div>

        <!-- ================ Order Details List ================= -->
        <div class="details">
          <div class="recentOrders">
            <div class="cardHeader">
              <h2>Recent registrations</h2>
              <a href="#" class="btn">View All</a>
            </div>

            <table>
              <thead>
                <tr>
                  <td>Email</td>
                  <td>First Name</td>
                  <td>Last Name</td>

                  <td>action</td>
                </tr>
              </thead>

              <tbody>
                
                <tr>
                  <td>omarzroud23@gmail.com</td>
                  <td>omar</td>
                  <td>zroud</td>
                  <td>
                    <form action="/admin" method="POST">
                      <input type="submit" class="submit" value="Send Email" onclick="redirectToPopup()" >
                      <button type="submit">
                        <ion-icon name="trash-outline"></ion-icon>Delete User
                      </button>
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
          <div class="popup" id="popup">
              <img src="check.jpg" >
              <h2>thank you!</h2>
              <p>An email has been sent successfully .</p>
              <button type="button" onclick="closepopup()">Ok</button>
  
          </div>
  
      </div>
  
      
  </body>
    <!-- =========== Scripts =========  -->
    <script src="assets/js/main.js"></script>

    <!-- ====== ionicons ======= -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    
    <script>
      let popup = document.getElementById("popup")
      function redirectToPopup(event) {
        // Prevent the default form submission behavior
        event.preventDefault();
      
      
       }
       function openpopup(){
          popup.classList.add("open-popup");
      }
      function closepopup(){
          popup.classList.remove("open-popup");
      }
      
    
       
    </script>
    
  </body>
</html>
